<!-- The dropdown menu -->
<ul>
  <li>
    <%= link_to "MILK-00", "#", class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
  </li>
  <!-- Subtle separator with padding -->
  <li class="border-t border-gray-200 my-1"></li>
  <li>
    <%= link_to "Add Playlist", "#", class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
  </li>
  <li>
    <%= link_to "Add Song", "#", class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
  </li>
  <!-- More prominent separator with text -->
  <li class="relative py-1">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="px-2 text-xs text-gray-500 bg-white rounded">Options</span>
    </div>
  </li>
  <li>
    <%= link_to "Settings", "#", class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
  </li>
  <li>
    <%= link_to "About", music_about_path, data: { turbo_frame: "music-frame" }, class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
  </li>
</ul>