<div class="flex flex-col p-4 md:p-2 lg:p-4">
  <h2 class="kanit font-semibold text-lg mb-4 hidden lg:block md:hidden block text-gray-900">Discover</h2>
  <ul class="kanit space-y-1">
    <%= sidebar_link_to "Feed", music_index_path, "feed", data: { turbo_frame: "music-frame" } %>
    
    <%= sidebar_link_to "Trending", music_index_path, "trending", data: { turbo_frame: "music-frame" } %>

    <%= sidebar_link_to "Explore", music_genres_path, "explore", data: { turbo_frame: "music-frame" } %>

  </ul>
  
  <% if user_signed_in? %>
    <h2 class="kanit font-semibold text-lg mb-4 mt-8 hidden lg:block md:hidden block text-gray-900">Your Music</h2>
    <ul class="kanit space-y-1">
      <%= sidebar_link_to "My Music", my_music_path, "library", data: { turbo_frame: "music-frame" } %>
      
      <%= sidebar_link_to "Upload", upload_path, "note" %>
      
      <%= sidebar_link_to "My Artists", artists_path, "crown" %>
      
      <%= sidebar_link_to "My Albums", albums_path, "record" %>
      
      <%= sidebar_link_to "Create Playlist", new_playlist_path, "library" %>
      
      <%= sidebar_link_to "Browse Library", music_playlists_path, "explore", data: { turbo_frame: "music-frame" } %>

    </ul>
    
    <h2 class="kanit font-semibold text-lg mb-4 mt-8 hidden lg:block md:hidden block text-gray-900">Account</h2>
    <ul class="kanit space-y-1">
      <%= sidebar_link_to "Profile", profile_path, "home", data: { turbo_frame: "music-frame" } %>
      
      <%= sidebar_link_to "Settings", edit_profile_path, "tag" %>

    </ul>
  <% else %>
    <h2 class="kanit font-semibold text-lg mb-4 mt-8 hidden lg:block md:hidden block text-gray-900">Get Started</h2>
    <ul class="kanit space-y-1">
      <%= sidebar_link_to "Sign Up", new_user_registration_path, "home" %>
      
      <%= sidebar_link_to "Login", new_user_session_path, "note" %>

    </ul>
  <% end %>
</div>