<div class="w-40 min-h-screen bg-[#91A2B4] text-[#1E1E1E] top-0 left-0 relative" data-controller="sidebar" data-action="click@window->sidebar#closeMenu">
  <nav class="flex flex-col justify-between h-fit">
    <div class="flex justify-between items-center p-4">
      <h1 class="kanit font-bold text-4xl">
        <%= link_to "Zuke", root_path %></h1>
      <button class="p-2 rounded-full hover:bg-gray-200 transition-colors" aria-label="Menu" data-action="click->sidebar#toggleMenu">
        <svg width="8" height="25" viewBox="0 0 8 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.51562 8.59375C5.45898 8.59375 7.03125 10.166 7.03125 12.1094C7.03125 14.0527 5.45898 15.625 3.51562 15.625C1.57227 15.625 0 14.0527 0 12.1094C0 10.166 1.57227 8.59375 3.51562 8.59375ZM0 3.51562C0 5.45898 1.57227 7.03125 3.51562 7.03125C5.45898 7.03125 7.03125 5.45898 7.03125 3.51562C7.03125 1.57227 5.45898 0 3.51562 0C1.57227 0 0 1.57227 0 3.51562ZM0 20.7031C0 22.6465 1.57227 24.2188 3.51562 24.2188C5.45898 24.2188 7.03125 22.6465 7.03125 20.7031C7.03125 18.7598 5.45898 17.1875 3.51562 17.1875C1.57227 17.1875 0 18.7598 0 20.7031Z" fill="black"/>
        </svg>
      </button>
    </div>
    <!-- The dropdown menu -->
    <div class="absolute kanit left-full top-0 ml-2 w-48 bg-[#91A2B4] text-[#1E1E1E] shadow-lg rounded-md py-1 z-50 hidden"
          data-sidebar-target="menu">
      <ul>
        <li>
          <%= link_to "MILK-00", "#", class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
        </li>
        <!-- Subtle separator with padding -->
        <li class="border-t border-gray-200 my-1"></li>
        <li>
          <%= link_to "Add Playlist", "#", class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
        </li>
        <li>
          <%= link_to "Add Song", "#", class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
        </li>
        <!-- More prominent separator with text -->
        <li class="relative py-1">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center">
            <span class="px-2 text-xs text-gray-500 bg-white rounded">Options</span>
          </div>
        </li>
        <li>
          <%= link_to "Settings", "#", class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
        </li>
        <li>
          <%= link_to "About", music_about_path, data: { turbo_frame: "music-frame" }, class: "block px-4 py-2 text-gray-800 hover:bg-[#FFC9A4]" %>
        </li>
      </ul>
    </div>

    <div class="flex flex-col p-4">
      <h2 class="kanit">
        Menu
      </h2>
      <hr class="mb-3">
      <ul class="kanit">
        <!-- Sidebar Helper for building links-->
        <%= sidebar_link_to "Home", music_index_path, "home", data: { turbo_frame: "music-frame" } %>

        <%= sidebar_link_to "Favorites", music_index_path, "heart", data: { turbo_frame: "music-frame" } %>
        
        <%= sidebar_link_to "Artist", music_index_path, "crown", data: { turbo_frame: "music-frame" } %>

        <%= sidebar_link_to "Albums", music_index_path, "record", data: { turbo_frame: "music-frame" } %>

        <%= sidebar_link_to "Songs", music_index_path, "note", data: { turbo_frame: "music-frame" } %>

        <%= sidebar_link_to "Playlists", music_playlists_path, "bars", data: { turbo_frame: "music-frame" } %>

      </ul>
    </div>
    <div class="flex flex-col p-4">
      <h2 class="kanit">
        Top Loved
      </h2>
      <hr class="mb-3">
      <div>
        <% @songs.each.with_index do |song, index| %>
          <% break if index >= 3 %>
          <a href="#">
            <img class="rounded-full w-12 my-1" src="<%= song.song_image_url%>" alt="<%= song.title %>" />
          </a>
        <% end %>
      </div>
    </div>
    <%#= render "zuke/music/loved_section" %> <!-- Top loved songs -->
  </nav>
</div>