<%= turbo_frame_tag "music-frame" do %>
  <%= render partial: "shared/music_player" %>
  <div class="text-[#1e1e1e] p-4">
    <h2 class="text-xl font-bold mb-4">Public Playlists</h2>
    
    <div class="flex gap-4">
      <% @playlists.each do |playlist| %>
        <%= link_to music_playlist_path(playlist), 
                   data: { turbo_frame: "music_content" },
                   class: "group" do %>
          <div class="flex justify-center items-center bg-gray-800 rounded-lg overflow-hidden w-9 h-[196px] hover:bg-gray-700 transition">
            <img src="<%= playlist.cover_image_url %>" ,
                         class="rounded-lg w-8 h-48 object-cover",
                         alt="<%= playlist.name %>" />
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-start items-center w-full">
      <%= turbo_frame_tag "music_content" %>
    </div>
  </div>
<% end %>