<div data-controller="music--smart-image"
     data-music--smart-image-id-value="<%= song.id %>"
     data-music--smart-image-url-value="<%= song.song_file_url %>"
     data-music--smart-image-title-value="<%= song.title %>"
     data-music--smart-image-artist-value="<%= song.artist.name %>"
     data-music--smart-image-banner-value="<%= song.artist.image_url %>">

  <img data-music--smart-image-target="playButton" 
       data-action="click->music--smart-image#playRequest" 
       class="rounded-lg w-28 border-2 border-gray-200 cursor-pointer" 
       src="<%= song.song_image_url %>" 
       alt="<%= song.title %>" />
</div>