<div data-controller="music--song"
     data-music--song-url-value="<%= song.song_file_url %>"
     data-music--song-id-value="<%= song.id %>"
     data-music--song-title-value="<%= song.title %>"
     data-music--song-artist-value="<%= song.artist.name %>"
     data-music--song-banner-value="<%= song.artist.image_url %>">

  <img data-music--song-target="playButton" data-action="click->music--song#play" class="rounded-lg w-36 border-2 border-gray-200 cursor-pointer" src="<%= song.song_image_url %>" alt="<%= song.title %>" />
</div>