<div class="flex items-center justify-center space-x-4">
  <%= render "music/components/player/previous_button" %>
  <%= render "music/components/player/play_pause_controls" %>
  <!-- Your play/pause button would go here -->
  
  <%= render "music/components/player/next_button" %>
  <%= render "music/components/player/auto-advance_button" %>
  <%= render "music/components/player/play-on-load_toggle" %>
</div>